.videoOn {
    background-color: deeppink;
    cursor: pointer;
}

nav .container-fluid {
    display: block !important;
}

.navbar-brand {
    color: red;
}

.card:hover {
    transform: scale(1.1);
}

.card {
    margin: 5px;
}

.ui-menu{
    background-color: rgba(255,255,255,0.8);        
    width: 400px !important;
}